.gitignore
*./
!./3rdparty/**/
!./cmake/**/
!./data/**/
!./doc/**/
!./modules/**/
!./platforms/**/
!./test/**/
!./.gitattributes
!./CmakeLists.txt
!./README.md
*.luac
*.user
*.pyc
.sw[a-z]
.*.swp
tags
*~
